<div id='HomeHeroLogoOutline'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.62 128.92" style="--speed:2000ms" class="path-trace" data-trace-time="1000">
        <path style="stroke-linecap: round;" d="M3.5,3.5H42.81A48.45,48.45,0,0,1,76.48,17.11l.18.18A67,67,0,0,1,76.45,112h0a46,46,0,0,1-32.53,13.47H3.5v-102a1.62,1.62,0,0,1,1.62-1.62h8.06a13.32,13.32,0,0,1,4.25.69L78.12,42.7a.52.52,0,0,1,0,1L16.87,64.14a.53.53,0,0,0,0,1L78.11,85.41a.53.53,0,0,1,0,1L15.36,107.17"/>
    </svg>
</div>