<div class="home-hero-logo-solid" style="--n:{{n}}; --color:{{color}}">
    <svg viewBox="0 0 46.02 34.83">
        <path d="m1.5,1.84v30.8s9.41-2.06,16.83-9.48S27.03,1.84,27.03,1.84H1.5Z"/>
        <path d="m15.29,10.87v22.46s1.86,0,1.86,0c.33-.02,1.16-1.1,1.42-1.34,4.31-4.13,8.7-8.63,11.3-14.07,2.66-5.55,3.76-11.7,3.76-17.92"/>
        <path d="m29.31,17.24s10.55,15.4,12.15,15.4h3.06V.69"/>
    </svg>
</div>