<nav id="NavbarWrapper">
    <div id="NavbarDesktop">
        <a class="brand">
            
        </a>
        <div class="menu-wrapper">
            <a class="menu">
                <div class="burg">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </a>
            <a class="sub resume">

            </a>
            <a class="sub contact">

            </a>
        </div>
    </div> 
</nav>  

<script>
    const burg = document.querySelector('.menu-wrapper');
    burg.addEventListener('click',()=>{
        burg.classList.toggle('active');
    })
</script>
