#HomeHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 660px;
    position: relative;
    background-color: #E8EDED;
    &.section-padding{
        padding-left:100px;
        padding-right:100px;
    }
    .container{
        position: relative;
        display: flex;
        justify-content: space-between;
        gap:60px;
    }
    .pattern{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: black;
        opacity: .3;
        z-index: 0;
    }
}
#HomeHeroBackground{
    position: absolute;
    background-color: transparent;
    width: calc(100% - 100px);
    height:calc(100% - 100px);
    top:50px;
    left:50px;
    z-index: 0;
    //border: 1px solid #0000001A;
    .pattern{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: black;
        opacity: .3;
    }
    .corner{
        --padding:14px;
        position: absolute;
        left:var(--padding);
        top:var(--padding);
        opacity: .8;
        &:nth-of-type(2){
            left:auto;
            right:var(--padding);
            transform: rotate(90deg);
        }
        &:nth-of-type(3){
            top:auto;
            bottom:var(--padding);
            transform: rotate(-90deg);
        }
        &:nth-of-type(4){
            top:auto;
            left:auto;
            right:var(--padding);
            bottom:var(--padding);
            transform: rotate(180deg);
        }
    }
}
#HomeHeroContentBlock{
    align-items: center;
    gap:25px;
    flex-shrink: 0;
    position: relative;
    .social-wrapper{
        display: flex;
        gap:25px;
        position: absolute;
        bottom:-100px;
    }
    .social-button{
        width: 37px;
        height: 37px;
        flex-shrink: 0;
        border: 1px solid theme('textColor.dark');
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-color 300ms, color 300ms, background-color 300ms;
        cursor: pointer;
        svg{
            max-width: 17px;
        }
        &:hover{
            border:1px solid theme('colors.primary');
            @apply bg-primary text-light;
        }
    }
    h1{
        font-size: 6rem;
        font-weight: 500;
        line-height: 106%;
        margin-bottom: 18px;
        span{
            &:nth-of-type(1){
                display: block;
            }
            &:nth-of-type(2){

            }
            &:nth-of-type(3){
                @apply text-primary;
            }
        }
    }
    h3{
        font-weight: 300;
        font-style: italic;
        @apply font-body;
    }
}
#HomeHeroCTABlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button-row{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    h2{
        padding-bottom: 0.15em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before,&::after{
            content:" ";
            height: 1px;
            width:88px;
            position: absolute;
            top:50%;
            @apply bg-primary;
        }
        &::before{
            left:calc(100% + 30px);
        }
        &::after{
            right:calc(100% + 30px);
        }
    }
}
.hero-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 106%;
    font-size: 1rem;
    padding: 1.15em 1.75em;
    border: 1px solid;
    border-radius: 400px;
    width: 230px;
    text-align: center;
    min-height: 65px;
    cursor: pointer;
    font-weight: 400;
    transition: border-color 300ms, background-color 300ms, color 300ms;
    &:hover{
        border-color: theme("colors.primary");
        @apply bg-primary text-light;
    }
}

.home-project{
    background-color: #131614;
    &:nth-of-type(odd){
        background-color: color-mod(#131614 shade(20%));
    }
    &.section-padding{
        padding-top:123px;
        padding-bottom:124px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .content-block{
        max-width: 500px;
    }
    .image-block{
        width: 550px;
        .image{
            padding-top: 100%;
            position: relative;
            border-radius: 100%;
            overflow: hidden;
        }
        .image-wrapper{
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    }
    .subtitle{
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: bold;
        margin-bottom: 26px;
        @apply font-body;
    }
    .title{
        font-size: 3.75rem;
        line-height: normal;
        margin-bottom: 27px;
        white-space: pre-line;
    }
    .project-card-button{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 106%;
        font-size: 1rem;
        padding: 1.15em 1.75em;
        border: 1px solid theme("textColor.light");
        border-radius: 400px;
        width: 230px;
        text-align: center;
        min-height: 65px;
        cursor: pointer;
        font-weight: 400;
        transition: border-color 300ms, background-color 300ms, color 300ms;
        margin-bottom: 45px;
        @apply text-light;
        &:hover{
            border-color: theme("colors.primary");
            @apply bg-primary text-light;
        }
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
    }
    .tag{
        font-style: italic;
        font-size: 17px;
        padding: 13px 23px;
        border-radius: 11px;
        background-color: #2b2b2b;
    }
}