#HomeHero{
    position: relative;
    height:70vh;
    min-height: 700px;
    overflow: hidden;
    .content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copy{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:20px;
        .name{
            position: relative;
        }
        .dummy-name{
            opacity:0;
        }
        .svg-wrapper{
            padding-right:.4em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top:.17em;
        }
        .svg-name{
            path{
                fill: theme('textColor.dark');
                stroke: theme('textColor.dark');
                stroke-miterlimit: 10;
                stroke-width:1px;
            }
        }
        h5{
            line-height: 2.2em;
        }
    }
    .home-text-switcher{
        position: relative;
        .master-span{
            >span{
                position: absolute;
                opacity: 0;
                transition: transform 300ms, opacity 300ms;
                &::before{
                    content:" ";
                    position: absolute;
                    height: 1px;
                    width: 0%;
                    bottom:.6em;
                    background-color: theme('textColor.dark');
                    transition: width 300ms;
                    transition-delay: 250ms;
                }
                &:nth-of-type(1){
                    transform: translate(0,-1em);
                }
                &:nth-of-type(2){
                    transform: translate(0,0em);
                    opacity: 1;
                    &::before{
                        width:100%;
                    }
                }
                &:nth-of-type(3){
                    transform: translate(0,1em);
                }
            }
        }
    }
}
#HomeHeroBG{
    opacity: .4;
    transition: opacity 600ms;
    overflow: hidden;
    path{
        fill: none;
        stroke: #dc97e5;
        stroke-miterlimit: 10;
        stroke-width:2px;
    }
}
#HeroComputer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .ground-wrapper{
        height:300px;
        width: 300px;
        z-index: 0;
        position: absolute;
        scale:1.2;
        .circle{
        }
        svg{
            margin: 0 auto;
            @apply full-abs;
            path{
                fill: none;
                stroke-width: 3;
                stroke: white !important;
            }
            &:nth-of-type(2){
                transform: scale(1.2) rotateZ(90deg);
                opacity: .8;
            }
            &:nth-of-type(3){
                transform: scale(1.4) rotateZ(120deg);
                opacity: .5;
            }
        }
        .ground{
            width:100%;
            height:100%;
            border-radius: 100%;
            background-color: rgb(189, 44, 141);
            filter: blur(30px);
            opacity: .3;
            mix-blend-mode: hard-light;
            position: relative;
            z-index: 0;
        }
    }
    canvas{
        position: relative;
    }
}
#HomePortfolio{
    .content{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .portfolio-top{
        display: flex;
        align-items: center;
        gap:24px;
        margin-bottom: 60px;
        .line{
            width: 0%;
            height: 8px;
            transition: width 1000ms;
            opacity: .8;
            transition-timing-function: ease-in-out;
            .svg-line{
                stroke: theme('textColor.dark');
                height: 100%;
                width: 100%;
            }
        }
        &.scrolled{
            .line{
                width: 100%;
            }
        }
    }
    .b-side-prompt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
        padding:100px 0;
        min-height: 600px;
        h2{
            max-width: 500px;
            text-align: center;
        }
    }
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:64px;
    scale:.95;
    transition: scale 300ms;
    .portfolio-item-copy{
        h2{
            display: inline-block;
            position: relative;
            .line{
                position: absolute;
                bottom:-2px;
            }
            .svg-line{
                stroke:theme("textColor.dark");
                height: 10px;
                width: 100%;
            }
        }
    }
    .portfolio-item-image-block{
        max-width: 580px;
        height:430px;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        &:hover{
            &::after{
                opacity: 1;
                scale:1.05;
            }
            .portfolio-item-image{
                scale:1.05;
                /* box-shadow: calc(var(--x-div) * -15px) calc(var(--y-div) * -15px) 0px 0px rgba(0,0,0,.05); */
                .tags{
                    transform: translateZ(20px);
                }
            }
        }
    }
    .portfolio-item-image{
        height: 100%;
        width:100%;
        background-color: #C1C1C1;
        border-radius: 35px 35px 35px 0px;
        position: relative;
        transition: scale 300ms, box-shadow 300ms, transform 300ms;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        .tags{
            padding: 4px 12px;
            border-radius: 10px 10px 10px 0px;
            position: absolute;
            left:10px;
            bottom:10px;
            background-color: theme("textColor.dark");
            letter-spacing: .05em;
            margin-right: 24px;
            transition: transform 300ms;
            @apply text-light;
        }
    }
    &.scrolled{
        scale:1;
    }
    &:nth-of-type(odd){
        flex-direction: row-reverse;
        .portfolio-item-image{
            border-radius: 35px 35px 0px 35px;
            .tags{
                border-radius: 10px 10px 0px 10px;
                left: auto;
                right:10px;
                margin-right:0;
                margin-left:24px;
            }
        }
    }
}

#HomeContact{
    position: relative;
    @apply bg-dark;
    padding-top:120px;
    padding-bottom:120px;
    height: 100vh;
    min-height: 900px;
    .content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:64px;
    }
    .email-icon{
        max-width: 500px;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        path{
            fill: none !important;
            stroke: #fff;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 3px;
            transition: stroke-width 300ms;
        }
        svg{
            transition: transform 300ms;
        }
        &:hover{
            svg{
                transform: scale(1.05);
            }
            path{
                stroke-width: 6px;
            }
        }
        &:active{
            svg{
                transform: scale(.95);
            }
        }
    }
}
#HomeContactBG{
    opacity: .1;
    transform: scale(-1,1);
    transition: opacity 600ms;
    path{
        fill: none;
        stroke: white;
        stroke-miterlimit: 10;
        stroke-width:.5px;
        transition: stroke-width 1000ms;
    }
}