.button{
    display: inline-block;
    background-color:theme('textColor.dark');
    padding: 17px 37px;
    border-radius: 100px;
    @apply text-light;
    transition: background-color 300ms;
    cursor: pointer;
    &:hover{
        background-color: color-mod(theme('textColor.dark') l(50%));
    }
}
.button-outlined{
    background-color: transparent;
    border: 1px solid theme('textColor.dark');
    @apply text-dark;
    &:hover{
        background-color: theme('textColor.dark');
        @apply text-light;
    }
}
.button-larger{
    font-size: 1rem;
}