#NavbarWrapper{
    position: fixed;
    top:0;
    width:100%;
    z-index: 100;
}
#NavbarDesktop{
    position: absolute;
    width:100%;
    height:0px;
    display: flex;
    justify-content: space-between;
    .brand{
        position: absolute;
        top:10px;
        left:10px;
        display: block;
        flex-shrink: 0;
        height: 60px;
        width: 60px;
        border: 1px solid black;
        border-radius: 100%;
    }
    .menu-wrapper{
        --size:50px;
        position: absolute;
        right:10px;
        top:15px;
        display: flex;
        flex-direction: column;
        gap:10px;
        >a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--size);
            width: var(--size);
            background-color: white;
            border-radius: 100%;
            position: relative;
            z-index: 3;
            &.sub{
                z-index: 2;
                opacity:0;
                transform:translateY(-40px);
                transition: transform 300ms, opacity 300ms;
                &:nth-of-type(3){
                    transition-delay: 200ms;
                }
            }
            
        }
        &.active{
            >a{
                &.sub{
                    opacity: 1;
                    transform:translateY(0px);
                }
            }
            .burg{
                transform: rotate(360deg);
                >div{
                    &:nth-of-type(1){
                        top:calc(50% - 0px);
                        transform: rotate(-45deg);
                    }
                    &:nth-of-type(2){
                        &::after{
                            width:0px;
                            opacity:0;
                        }
                    }
                    &:nth-of-type(3){
                        bottom:50%;
                        transform: rotate(45deg);
                    }   
                }
            }
        }
    }
    .menu{
    }
    .burg{
        width: calc(var(--size) - 30px);
        height: calc(var(--size) - 30px - 6px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        position: relative;
        transition: transform 300ms;
        transform:rotate(0deg);
        >div{
            width: 1px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            transition: transform 300ms;
            &::after{
                content:'';
                display: block;
                flex-shrink: 0;
                border-radius: 10px;
                width: calc(var(--size) - 30px);
                height: 3px;
                background-color: black;
            }
            &:nth-of-type(1){
                top:0;
            }
            &:nth-of-type(3){
                bottom:0;
            }
        }
    }
}