.path-trace{
    --speed:300ms;
    path,line{
        --offset:1000;
        stroke-dasharray: var(--offset);
        stroke-dashoffset: var(--offset);
        &.start-path-trace{
            stroke-dashoffset:0;
            transition: stroke-dashoffset var(--speed) ease-in-out;
        }
    } 
}