body{
   --slide-transition-speed: 500ms;
}
[data-slideinleft]{
   position: relative;
   opacity: 0;
   transform: translate(-100px,0);
   transition: opacity var(--slide-transition-speed), transform var(--slide-transition-speed);
   .not-scrolled{
   } 
   &.scrolled{
    opacity: 1;
    transform: translate(0,0);
   }
}
[data-slideinup]{
   position: relative;
   opacity: 0;
   transform: translate(0,-100px);
   transition: opacity var(--slide-transition-speed), transform var(--slide-transition-speed);
   .not-scrolled{
   } 
   &.scrolled{
    opacity: 1;
    transform: translate(0,0);
   }
}