#TMBHero{
    height:70vh;
    min-height: 700px;
    position: relative;
    overflow: hidden;
    @apply bg-tmb-dark-grey;
    .bg{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100%;
        img{
            opacity: .6;
            width: 100%;
            height: 100%;
        }
        .grad{
            position: absolute;
            width: 75%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);
            top:0;
            left:0;
            bottom:0;
        }
    }
    .content{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .copy-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
        max-width: 620px;
        .button{
            letter-spacing: .1em;
            padding: 12px 30px;
            border: 1px solid theme("colors.tmb-green");
            background-color: transparent;
            @apply text-tmb-green;
            &:hover{
                color: #111111;
                @apply bg-tmb-green;
            }
        }
    }
    .tags{
        padding: 4px 14px;
        border-radius: 10px 10px 10px 0px;
        border: 1px solid theme("textColor.light");
    }
    .slider-block{
        position: relative;
        max-width: 550px;
        width: 100%;
        padding-right: 70px;
        height: calc(100% + (var(--base-padding-h)*2));
        right:-70px;
    }
    .tmb-hero-slider{
        height: 100%;
    }
    .tmb-hero-slide{
        //border: 1px solid white;
        border-radius:26px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
    }
    .tmb-hero-controls{
        width: 80px;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tmb-hero-pagination{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:14px;
        right:auto;
        left:auto;
        top:auto;
        transform:none;
    }
    .tmb-hero-bullet{
        transition: opacity 300ms;
        display: block;
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        opacity: .5;
        &.active{
            opacity: .8;
        }
    }
}
#TMBInteractions{
    overflow:hidden;
    position: relative;
    .bg{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            opacity: .1;
            width: 100%;
            height: 100%;
        }
        .grad{
            position: absolute;
            width: 75%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);
            top:0;
            left:0;
            bottom:0;
        }
    }
}
.tmb-interaction-wrapper{
    --gap:40px;
    display: flex;
    gap:var(--gap);
    flex-wrap: wrap;
}
[class|="tmb-interaction-item"]{
    //border: 1px solid theme("textColor.light");
    height:325px;
    border-radius: 22px 22px 22px 0px;
    position: relative;
    overflow: hidden;
    background-color: rebeccapurple;
    &.tmb-interaction-item-full{
        width: 100%;
    }
    &.tmb-interaction-item-half{
        width: calc(50% - (var(--gap)/2));
    }
    .info-bottom{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        gap:20px;
        padding:20px;
        width: 100%;
        align-items: flex-end;
        .grad{
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            bottom:0;
            background-color: rgba(17,17,17,.4);
            z-index: 0;
            transform: translate(0, 100%);
            transition: transform 500ms;
        }
        .tag{
            flex-shrink: 0;
            position: relative;
            padding: 4px 14px;
            border-radius: 10px 10px 10px 0px;
            border: 1px solid theme("textColor.light");
        }
        .info{
            position: relative;
            transform: translate(0, calc(100% + 40px));
            transition: transform 600ms;
            p{
                font-size: .75rem;
                line-height: 1.4em;;
            }
        }
    }
    &:hover{
        .info-bottom{
            .grad{
                transform:translate(0,0);
            }
            .info{
                transform:translate(0,0);
            }
        }
    }
}