---
layout: layout.liquid
title: Home Page
---

<section id="HomeHero" class="section-padding">
    <div id="HomeHeroBackground">
        <div class="pattern" style="background-image:url({{'/assets/images/home/bg.png' | url}})"></div>
        {% include 'home/home-hero-corner' %}
        {% include 'home/home-hero-corner' %}
        {% include 'home/home-hero-corner' %}
        {% include 'home/home-hero-corner' %}
    </div>
    <div class="container container-large">
        <div id="HomeHeroContentBlock">
            <div class="social-wrapper">
                {% for i in (1..2)%}
                    <a class="social-button">
                        O
                    </a>    
                {% endfor %}
            </div>
            <div class="content-wrapper">
                <h1><span>Hey,</span><span>I'm</span> <span>Doug</span></h1>
                <h3>Front-end Web Developer</h3>
            </div>
        </div>
        <div id="HomeHeroCTABlock">
            <div class="button-row">
                <a class="hero-button">
                    check out my work
                </a>
                <a class="hero-button">
                    read my resume
                </a>
            </div>
            <h2 class='text-primary'>or</h2>
            <a class="hero-button">
                contact me
            </a>
        </div>
    </div>
</section>
<section class="bg-dark section-padding">

</section>
<script src="{{'/assets/scripts/home.js' | url}}"></script>