---
layout: layout.liquid
title: Home Page
---

<section id="HomeHero" class="bg-green section-padding">
    <div id="HomeHeroBG" class="full-abs rellax" data-rellax-speed="-4">
    {% include 'svganim/herobg'%}
    </div>
    <div class="container content relative">
        <div class="copy rellax" data-rellax-speed="2">
            <h1>Hey,<br/>I’m 
            <span class="name">
                <span class="dummy-name">Doug</span>
                <span class="full-abs svg-wrapper" style="">
                    {% include 'svganim/name', class:"svg-name"%}
                </span>
            </span>
            </h1>
            <div>
                <h5>I’m a Front-End Developer, and a Shopify Expert</h5>
                <div>
                    <h5 class="home-text-switcher">
                        I’m also a bit of a&nbsp;
                        <span class="master-span">

                        </span>
                    </h5>
                </div>
                <h5>But who’s counting? (I’m not)</h5>
            </div>
            <a class="button">
                contact me
            </a>
        </div>
        <div id="HeroComputer">
            <div class="ground-wrapper">
                <div class="ground">

                </div>
                <div class="full-abs circle">
                    {% include 'svganim/circle' %}
                    {% include 'svganim/circle' %}
                    {% include 'svganim/circle' %}
                </div>
            </div>
        </div>
        {% include 'scripts/hero-computer.js.liquid'%}
    </div>
</section>
<section id="HomePortfolio" class="bg-light-green section-padding">
    <div class="container  content">
        <div class="portfolio-top" data-scroll-once>
            <h5>Portfolio</h5><div class="line">{% include 'svganim/line', class:"svg-line"%}</div>
        </div>

        <div class="portfolio-item" data-scroll-multi>
            <div class="portfolio-item-copy">
                <h2 class="mb-2">Trusted<br/>Media Brands<div class="line">{% include 'svganim/line', class:"svg-line"%}</div></h2>
                <h5 class="mb-16">(Reader’s Digest, Birds & Blooms, etc.)</h5>
                <a class="button button-outlined button-larger" href="{{'/tmb' | url}}">check it out</a>
            </div>
            <div class="portfolio-item-image-block rotato">
                <div class="portfolio-item-image-wrapper rotato-target" style="--rotato-deg:20deg">
                <div class="portfolio-item-image">
                    <video muted autoplay loop class="image-cover">
                        <source src="{{ '/assets/projects/tmb/videos/card.webm' }}" type="video/webm">
                    </video>
                    </div>
                    <p class="tags">
                        Javascript, HTML, CSS, PostCSS, Tailwind, 11ty, Liquid
                    </p>
                </div>
            </div>
        </div>

        <div class="portfolio-item" data-scroll-multi>
            <div class="portfolio-item-copy">
                <h2 class="mb-4">FORVR<div class="line">{% include 'svganim/line', class:"svg-line"%}</div></h2>
                <h5 class="mb-16">(National, luxury candle brand.)</h5>
                <a class="button button-outlined button-larger">check it out</a>
            </div>
            <div class="portfolio-item-image-block rotato">
                <div class="portfolio-item-image-wrapper rotato-target"style="--rotato-deg:20deg">
                    <p class="tags">
                        Javascript, HTML, CSS, PostCSS, Tailwind, Liquid
                    </p>
                </div>
            </div>
        </div>

    <div class="b-side-prompt">
        <h2>I do more than web stuff</h2>
        <a class="button button-outlined button-larger">b-side</a>
    </div>
    </div>
</section>
<section id="HomeContact" class="section-padding text-light">
    <div id="HomeContactBG" class="full-abs">
    {% include 'svganim/herobg'%}
    </div>
    <div class="container content">
        <h3>Get in touch</h3>
        <a class="email-icon rotato rotato-target" style="--rotato-deg:20deg">
            {% include 'svganim/email'%}
        </a>
    </div>
</section>  
<script>
    function HomeHero(){
        TextSwitcher();
        function TextSwitcher(){
            const text = ["3D artist","game developer","5 hp goblin", "whimsical little fella", "rascal", "sculpter", "cyclist", "awful musician", "illustrator", "craftsman","chef","writer","numpty"];
            const master = $(".home-text-switcher");
            const masterSpan = $(master).find('.master-span');
            
            let previousSpanIndex = -1;

            function GetNextSpan(){
                let randIndex = previousSpanIndex;
                while(previousSpanIndex == randIndex){
                    randIndex = Math.floor(Math.random() * text.length);
                }
                previousSpanIndex = randIndex; 
                AddNewSpan(randIndex);
            } 

            function AddNewSpan(index){
                $(masterSpan).prepend($("<span>").append(text[index]));

                if($(masterSpan).children().length > 3){
                    $(masterSpan).find("span:last").remove();
                }
            }

            GetNextSpan();
            GetNextSpan();

            setInterval(()=>{
                GetNextSpan();
            },600)
        }
    }

    document.addEventListener('DOMContentLoaded',()=>{
        HomeHero();
    });
</script>
<script>
    function SVGAnim(){
        let svgAnimItems = [];
        $('.svg-anim-js').each((i,item)=>{
            svgAnimItems.push(new SVGAnimItem(item));
        });

        setInterval(()=>{
            svgAnimItems.forEach((item)=>{
               item.AdvFrame();
            });
        },99);
    }

    function SVGAnimItem(elm){
        const frames = $(elm).find('g');
        const maxFrames = $(frames).length;
        let currentFrame = 0;

        function ShowCurrentFrame(){
            $(frames).removeClass('show');
            $(frames).eq(currentFrame).addClass('show');
        }

        this.AdvFrame = function(){
            currentFrame = (currentFrame + 1) % maxFrames;
            ShowCurrentFrame();
        }
    }

    document.addEventListener('DOMContentLoaded',()=>{
        SVGAnim();
    });
</script>
{% for i in (1..10)%}

{% endfor %}