---
layout: layout.liquid
title: Home Page
---

<section id="HomeHero" class="section-padding">
  <div id="HomeHeroBackground" class="background-spread" style="background-image:url({{'/assets/images/home/hero-bg.jpg' | url}})">
    <img class="image-cover" src="{{'/assets/images/home/hero-bg.jpg' | url}}"/>
  </div>
  <div id="HomeHeroContainer" class="text-light container">
  <div id="HomeHeroName"  style="--y-div:0;">
  {% include 'home/name-solid', n:6 color:"#B5179E" %}
  {% include 'home/name-solid', n:5 color:"#B5179E" %}
    {% include 'home/name-solid', n:4 color:"#B5179E" %}
    {% include 'home/name-solid', n:3 color:"#560BAD"%}
    {% include 'home/name-solid', n:2 color:"#3A0CA3"%}
    {% include 'home/name-solid', n:1 color:"#4361EE"%}
    {% include 'home/name-solid', n:0 color:"#4CC9F0"%}
    {% include 'home/name-outline' %}
  </div>
  </div>
</section>

  <script src="{{'/assets/scripts/home.js' | url}}"></script>
